.form {
	background-color: #F4F4F4;
	padding: 7vh;
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	align-items: center;
	position: relative;

	h1 {
		color: #6A0DAD;
		font-size: 30px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 4vh;
	}

	div {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	label {
		color: #6A0DAD;
		font-weight: bold;
		margin-bottom: 0.7vh;
	}

	input, select, textarea {
		display: flex;
		border: 3px solid #6A0DAD;
		border-radius: 12px;
		padding: 8px 5px;
		background-repeat: no-repeat;
		margin-bottom: 0.8vh;
		background-color: #F4F4F4;
		font-size: 16px;
		color: #333333;
		background-position: right 10px center;
		background-size: 25px 25px;
		box-sizing: border-box;
	}

	input::placeholder,
	select::placeholder,
	textarea::placeholder {
		color: rgba(106, 13, 173, 0.4);
		font-weight: light;
	}

	input:focus,
	select:focus,
	textarea:focus {
		background-color: rgba(106, 13, 173, 0.1);
		font-weight: regular;
	}

	button {
		padding: 1.2vh 0;
		display: flex;
		justify-content: center;
		border-radius: 12px;
		border: 3px solid #6A0DAD;
		width: 100%;
		background-color: #6A0DAD;
		color: #F4F4F4;
		font-weight: bold;
		font-size: 16px;
		margin-top: 10px;
		cursor: pointer;
	}

	button:hover {
		background-color: #F4F4F4;
		color: #6A0DAD;
		transition: .3s ease-out;
	}

	.footerContent {
		display: flex;
		align-items: center;
		margin-top: 10px;
		font-size: 12px;
		color: #6A0DAD;
	}
}

.container {
	height: 100vh;
	background: linear-gradient(#6A0DAD, #D1B2FF);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.form .error-message {
	visibility: hidden;
	height: 20px;
	color: red;
	font-size: 13px;
	padding-left: 5px;
}

.form .error-message.visible {
	visibility: visible;
}

@media (max-width: 480px) {
	.form {
		padding-left: 2px;
		padding-right: 2px;
		width: 90%;
	}

	.form h1 {
		font-size: 24px;
		margin-bottom: 2vh;
	}

	.form input,
	.form select {
		padding: 10px;
		font-size: 14px;
	}

	.form button {
		padding: 10px;
		font-size: 16px;
	}
}

input[type='email'] {
	background-image: url('../assets/MentionIcon.svg');
}

input[name='rut'] {
	background-image: url('../assets/IdentityCardIcon.svg');
}

input[name='nombreCompleto'] {
	background-image: url('../assets/PersonIcon.svg');
}

input[name='rol'] {
	background-image: url('../assets/PasskeyIcon.svg');
}

.container_inputs {
	position: relative;
	margin-bottom: 5px;
}

input {
	padding-right: 40px;
	width: 100%;
}

.toggle-password-icon {
	position: absolute;
	right: 15px;
	top: 44%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.toggle-password-icon img {
	width: 25px;
	height: 25px;
	margin-top: 4px;
}

.logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 2vh;
	width: 100%;
}

.logo {
	width: 100%;
	max-width: 120px;
	height: auto;
	margin-bottom: 2vh;
}
