.table-container .tabulator .tabulator-col {
    background: #6A0DAD;
    color: #FFFFFF;
}

.tabulator .tabulator-footer .tabulator-page {
    background-color: #FFF0E6;
    color: #6A0DAD;
    border: 1px solid #6A0DAD;
    padding: 4px 8px;
    border-radius: 4px;
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: #FF6A00;
    font-weight: bold;
}
