.table-container .tabulator .tabulator-col {
  background: var(--primary);
  color: white;
  font-weight: 500;
}

.tabulator .tabulator-footer .tabulator-page {
  background-color: var(--secondary-light);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  margin: 0 var(--spacing-xs);
}

.tabulator .tabulator-footer .tabulator-page.active {
  color: var(--secondary);
  font-weight: bold;
  background-color: white;
}